name: Fyntrac Test Runner

on:
  workflow_dispatch:   # allows "Run" button

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Make script executable
        run: chmod +x run_tests.sh

      - name: Run test cases
        run: ./run_tests.sh
